= simple_form_for [@user, @post, @com] do |com|
  .form_div
    %p
      = com.input :text, :label => false, :input_html => {:class => "form-control", :placeholder => "*Comment", :rows => "3"}
    %input.btn.btn-default{:type => "submit", :value => "Comment"}/
