%h1.center_title
  Edit a Jewt
  %small ...and fix that nose
= simple_form_for [@user, @post] do |post|
  .form_div
    %p
      = post.input :name, :label => false, :input_html => {:class => "form-control", :placeholder => "*Title"}
    %p
      = post.input :text, :label => false, :input_html => {:class => "form-control", :placeholder => "*Content", :rows => "3"}
    %input.btn.btn-default{:type => "Submit", :value => "Submit Modifications"}/
